In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

**Data collection**

In [2]:
!unzip "/content/drive/My Drive/hindi-text-summarization-corpus.zip"

Archive:  /content/drive/My Drive/hindi-text-summarization-corpus.zip
  inflating: test.csv
  inflating: train.csv

In [0]:
!mkdir data
!mv test.csv data
!mv train.csv data

**Reading Data**

In [0]:
import pandas as pd
import csv
import sys

In [5]:
csv.field_size_limit(sys.maxsize)

131072

In [0]:
train_df= pd.read_csv('data/train.csv', engine='python')
test_df = pd.read_csv('data/test.csv', engine='python')

In [7]:
train_df.head()

                                            headline  ...                                            article
0  उत्तर भारत में शीत लहर जारी, लेह में पारा सात ...  ...  उत्तर भारत में शीत लहर जारी है और पहाड़ी क्षेत...
1  यमन : विद्रोहियों के कब्जे वाले ताएज शहर के नि...  ...  यमन सरकार के समर्थक बलों के विद्रोहियों के कब्...
2  केन्या में आतंकियों ने बस को अगवा कर 28 लोगों ...  ...  केन्या के उत्तर में, सोमालिया के अल-शबाब गुट क...
3           रिम करेगा दो हजार कर्मचारियों की छंटनी    ...  ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...
4  Puducherry: उपराज्यपाल किरण बेदी से हुआ विवाद ...  ...  केंद्र शासित प्रदेश पुडुचेरी के मुख्यमंत्री  व...

[5 rows x 3 columns]

**Cleaning data**

In [0]:
train_df.replace("", float("NaN"), inplace=True)
test_df.replace("", float("NaN"), inplace=True)

In [0]:
# eliminating the rows dont have a summary
train_df=train_df.dropna()
test_df= test_df.dropna()

In [10]:
train_df.head()

                                             headline  ...                                            article
3            रिम करेगा दो हजार कर्मचारियों की छंटनी    ...  ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...
7   अमेरिका : राष्ट्रपति पद की उम्मीदवार हिलेरी क्...  ...  अमेरिका में राष्ट्रपति पद के लिए डेमोक्रेटिक प...
8   देश के सर्वश्रेष्ठ स्पिनरों में से एक है हरभजन...  ...  पूर्व भारतीय क्रिकेट कप्तान अनिल कुंबले का मान...
9   इंडिगो के स्टाफ ने दिल्ली एयरपोर्ट पर पैसेंजर ...  ...  इंडिगो एयरलाइन के प्रेसीडेंट और डायरेक्टर आदित...
10  नव्या नवेली के साथ दोस्ती पर जावेद जाफरी के बे...  ...  संजय लीला भंसाली की फिल्म 'मलाल' से बॉलीवुड मे...

[5 rows x 3 columns]

In [11]:
train_df.head()

                                             headline  ...                                            article
3            रिम करेगा दो हजार कर्मचारियों की छंटनी    ...  ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...
7   अमेरिका : राष्ट्रपति पद की उम्मीदवार हिलेरी क्...  ...  अमेरिका में राष्ट्रपति पद के लिए डेमोक्रेटिक प...
8   देश के सर्वश्रेष्ठ स्पिनरों में से एक है हरभजन...  ...  पूर्व भारतीय क्रिकेट कप्तान अनिल कुंबले का मान...
9   इंडिगो के स्टाफ ने दिल्ली एयरपोर्ट पर पैसेंजर ...  ...  इंडिगो एयरलाइन के प्रेसीडेंट और डायरेक्टर आदित...
10  नव्या नवेली के साथ दोस्ती पर जावेद जाफरी के बे...  ...  संजय लीला भंसाली की फिल्म 'मलाल' से बॉलीवुड मे...

[5 rows x 3 columns]

In [12]:
# checking the size of dataset
train_df.shape

(69033, 3)

In [13]:
test_df.shape

(17265, 3)

In [17]:
train_df.describe()

                                headline  ...                                            article
count                              68335  ...                                              68335
unique                             68266  ...                                              66949
top     शेयर बाजारों में गिरावट का रुख    ...  (हेडलाइन के अलावा, इस खबर को एनडीटीवी टीम ने स...
freq                                  10  ...                                                604

[4 rows x 3 columns]